<div class="container bg-white p-4 rounded">
    <h1 class="display-4">App Contactos</h1><br><br>
    <p class="lead">Bienvenido a tu aplicación de contactos. Aquí podrás... 
    </p>
    <ul>
        <li><span class="lead">Registrarte con un usuario y clave</span></li>
        <li><span class="lead">Iniciar sesión en tu cuenta</span></li>
        <li><span class="lead">Crear contactos telefónicos</span></li>
        <li><span class="lead">Acceder a tu lista de contactos cuando quieras</span></li>
        <li><span class="lead">Así como actualizarlos y eliminarlos</span></li>
    </ul>
    <p class="lead">Y si te preocupa tu seguridad, esta página cuenta con persistencia de datos y cifrado de contraseñas<br>
        <strong>¿Qué esperas?</strong> Empieza ya!
    </p> 

</div>