<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card p-2">
            <div class="card-header">
                <span style="text-align: center;">
                    <h4>Iniciar Sesión</h4>
                </span>
            </div>
            <div class="card-body">
                <form action="/signin" method="POST">
                    <div class="form-group mb-3">
                        <input type="email" name="email" class="form-control" placeholder="E-mail">
                    </div>
                    <div class="form-group mb-3">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary form-control">
                            Acceder
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>